<div class="main-content">	
	<div class="main-content-inner">
	    <div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="#/">Inicio</a>
				</li>

				<li class="active">Factura Compra</li>
				<li class="active">Nueva Factura Compra</li>
			</ul>
		</div>

	    <div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<div class="space"></div>
					<form class="form-horizontal" name="form_factura" id="form_factura" autocomplete="off">
						<div class="tabbable">
							<ul class="nav nav-tabs padding-16">
								<li ng-class="{active: isSet(1)}">
									<a data-toggle="tab" href ng-click="setTab(1)">
										<i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
										FACTURA COMPRA
									</a>
								</li>

								<li ng-class="{active: isSet(2)}">
									<a data-toggle="tab" href ng-click="setTab(2)">
										<i class="green ace-icon fa fa-money bigger-125"></i>
										RETENCIONES
									</a>
								</li>
							</ul>

							<div class="tab-content profile-edit-tab-content" >
								<div ng-show="isSet(1)">
									<div class="row">
										&nbsp; 
										<div class="col-sm-12">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="fecha_actual">FECHA ACTUAL.:</label>
													<div class="col-sm-6">
														<div class="input-group">
															<input type="text" name="fecha_actual" id="fecha_actual" class="form-control datepicker" readonly />
															<span class="input-group-addon">
																<i class="ace-icon fa fa-calendar"></i>
															</span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label class="control-label col-sm-4 no-padding-right">Hora Actual.:</label>
													<div class="col-sm-6">
										                <div class="input-group">
										                    <input type="text" name="hora_actual" id="hora_actual" class="form-control" readonly />
										                    <span class="input-group-addon">
										                        <i class="glyphicon glyphicon-time"></i>
										                    </span>
										                </div>
										            </div>
									            </div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="ruc">N° SERIE COMPRA.:</label>
													<div class="col-sm-8">
														<input type="text" name="serie" id="serie" class="form-control" />
													</div>
												</div>
											</div>	
										</div>
									</div>

									<div class="row">	
										<div class="col-sm-12">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="ruc">RUC/CI.:</label>
													<div class="col-sm-6">
														<input type="text" name="ruc" id="ruc" placeholder="Buscar..." class="form-control" />
														<input type="hidden" name="id_proveedor" id="id_proveedor" class="form-control" />
														<input type="hidden" name="id_factura" id="id_factura" class="form-control" />
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="fecha_registro">FECHA REGISTRO.:</label>
													<div class="col-sm-6">
														<div class="input-group">
															<input type="text" name="fecha_registro" id="fecha_registro" class="form-control datepicker" readonly />
															<span class="input-group-addon">
																<i class="ace-icon fa fa-calendar"></i>
															</span>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="cliente">AUTORIZACIÓN.:</label>
													<div class="col-sm-6">
														<input type="text" name="autorizacion" id="autorizacion" class="form-control" placeholder="Buscar..." />
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="select_tipo_comprobante">TIPO COMPROBANTE.:</label>
													<div class="col-sm-8">
														<select name="select_tipo_comprobante" id="select_tipo_comprobante" class="select2" data-placeholder="Tipo Comprbante...">
														</select>
													</div>
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="cliente">PROVEEDOR.:</label>
													<div class="col-sm-8">
														<input type="text" name="proveedor" id="proveedor" class="form-control" placeholder="Buscar..." />
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="fecha_emision">FECHA EMISIÓN.:</label>
													<div class="col-sm-6">
														<div class="input-group">
															<input type="text" name="fecha_emision" id="fecha_emision" class="form-control datepicker" readonly />
															<span class="input-group-addon">
																<i class="ace-icon fa fa-calendar"></i>
															</span>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="fecha_cancelacion">FECHA CANCELACIÓN.:</label>
													<div class="col-sm-6">
														<div class="input-group">
															<input type="text" name="fecha_cancelacion" id="fecha_cancelacion" class="form-control datepicker" readonly />
															<span class="input-group-addon">
																<i class="ace-icon fa fa-calendar"></i>
															</span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="direccion">DIRECCIÓN.:</label>
													<div class="col-sm-8">
														<input type="text" name="direccion" id="direccion" class="form-control" readonly />
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="fecha_caducidad">FECHA CADUCIDAD.:</label>
													<div class="col-sm-6">
														<div class="input-group">
															<input type="text" name="fecha_caducidad" id="fecha_caducidad" class="form-control datepicker" readonly />
															<span class="input-group-addon">
																<i class="ace-icon fa fa-calendar"></i>
															</span>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="select_forma_pago">FORMA PAGO.:</label>
													<div class="col-sm-8">
														<select name="select_forma_pago" id="select_forma_pago" class="select2" data-placeholder="Forma Pago...">
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-12">
											<h3 class="header smaller lighter blue">DETALLE FACTURA COMPRA</h3>
											<div class="row">
												<div class="col-sm-9">
													<div class="col-sm-3">
														<div class="row">
															<div class="col-xs-12">
																<label> CÓDIGO BARRAS</label>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12">
																<input type="text" name="codigo_barras" id="codigo_barras" class="form-control" placeholder="Buscar......" />
															</div>
														</div>
													</div>

													<div class="col-sm-2">
														<div class="row">
															<div class="col-xs-12">
																<label> CÓDIGO</label>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12">
																<input type="text" name="codigo" id="codigo" class="form-control" placeholder="Buscar......" />
															</div>
														</div>
													</div>

													<div class="col-sm-4">
														<div class="row">
															<div class="col-xs-12">
																<label> DESCRIPCIÓN</label>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12">
																<input type="text" name="producto" id="producto" class="form-control" placeholder="Buscar......" /> 
															</div>
														</div>
													</div>

													<div class="col-xs-1">
														<div class="row">
															<div class="col-sm-12">
																<label> CANTIDAD</label>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12">
																<input type="text" name="cantidad" id="cantidad" class="form-control" /> 
															</div>
														</div>
													</div>

													<div class="col-sm-1">
														<div class="row">
															<div class="col-sm-12">
																<label> PRECIO</label>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12">
																<input type="text" name="precio_costo"  id="precio_costo" class="form-control" /> 
															</div>
														</div>
													</div>

													<div class="col-sm-1">
														<div class="row">
															<div class="col-sm-12">
																<label> DESCUENTO</label>
															</div>
														</div>
														<div class="row">
															<div class="col-sm-12">
																<input type="text" id="descuento" name="descuento" class="form-control" readonly />
																<input type="hidden" name="id_producto" id="id_producto" class="form-control" />
																<input type="hidden" name="precio_venta" id="precio_venta" class="form-control" />
								                                <input type="hidden" name="stock" id="stock" class="form-control" />
								                                <input type="hidden" name="iva_producto" id="iva_producto" class="form-control" />
								                                <input type="hidden" name="incluye" id="incluye" class="form-control" />  
															</div>
														</div>
													</div>
												</div>	
											</div>
											&nbsp; &nbsp;
											
											<div class="row">
												<div class="col-sm-12">
													<div class="col-sm-9">	
														<div id="grid_container">
															<table id="table"></table>
															<!-- <div id="pager"></div>	 -->
														</div>	
													</div>

													<div class="col-sm-3">
							                            <div class="form-group">
															<label class="col-md-5">SUBTOTAL:</label>
															<div class="col-md-7">
																<span class="input-icon">
																	<input type="text" name="subtotal" id="subtotal" class="form-control" value="0.000" readonly />
																	<i class="ace-icon fa fa fa-usd orange"></i>
																</span>
															</div>
														</div>

														 <div class="form-group">
							                                <label class="col-md-5">TARIFA 14%:</label>
							                                <div class="col-md-7">
							                                	<span class="input-icon">
																	<input type="text" name="tarifa" id="tarifa" class="form-control" value="0.000" readonly />
																	<i class="ace-icon fa fa fa-usd orange"></i>
																</span>                                
							                                </div> 
							                            </div>

							                            <div class="form-group">
							                                <label class="col-md-5">TARIFA 0%:</label>
							                                <div class="col-md-7">
							                                	<span class="input-icon">
																	<input type="text" name="tarifa_0" id="tarifa_0" class="form-control" value="0.000" readonly />
																	<i class="ace-icon fa fa fa-usd orange"></i>
																</span>                                
							                                </div> 
							                            </div>

							                            <div class="form-group">
							                                <label class="col-md-5">IVA:</label>
							                                <div class="col-md-7">
							                               		<span class="input-icon">
																	<input type="text" name="iva" id="iva" class="form-control" value="0.000" readonly />
																	<i class="ace-icon fa fa fa-usd orange"></i>
																</span>                               
							                                </div> 
							                            </div>

							                            <div class="form-group">
							                                <label class="col-md-5">DESCUENTO:</label>
							                                <div class="col-md-7">
							                                	<span class="input-icon">
																	<input type="text" name="otros" id="otros" class="form-control" value="0.000" readonly />
																	<i class="ace-icon fa fa fa-usd orange"></i>
																</span>                               
							                                </div> 
							                            </div>

							                            <div class="form-group">
							                                <label class="col-md-5">TOTAL A PAGAR:</label>
							                                <div class="col-md-7">
							                                	<span class="input-icon">
																	<input type="text" name="total_pagar" id="total_pagar" class="form-control" value="0.00" readonly />
																	<i class="ace-icon fa fa fa-usd orange"></i>
																</span>                               
							                                </div> 
							                            </div>
													</div>
												</div>	
											</div>
										</div>	
									</div>	
								</div>

								<div ng-show="isSet(2)">
									<div class="row">
										&nbsp;
										<div class="col-sm-12">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="autorizacion_retencion">AUTORIZACIÓN.:</label>
													<div class="col-sm-8">
														<input type="text" name="autorizacion_retencion" id="autorizacion_retencion" class="form-control" />
													</div>
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="serie_retencion">N° SERIE RETENCIÓN.:</label>
													<div class="col-sm-8">
														<input type="text" name="serie_retencion" id="serie_retencion" class="form-control" />
													</div>
												</div>
											</div>
										</div> 

										<div class="col-sm-12">
											<div class="col-sm-4">
												<h3 class="header smaller lighter blue">RETENCIÓN EN LA FUENTE</h3>
												<div class="control-group">
													<div class="radio">
														<label>
															<input name="retencion_fuente" id="fuente_no" value="NO" type="radio" class="ace" checked />
															<span class="lbl"> No Obligado a llevar Contabilidad/Sociedades</span>
														</label>
													</div>

													<div class="radio">
														<label>
															<input name="retencion_fuente" id="fuente_si" value="SI" type="radio" class="ace" />
															<span class="lbl"> Obligado a llevar Contabilidad/Sociedades</span>
														</label>
													</div>
												</div>
												&nbsp;

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="select_retencion_fuente">RETENCIÓN FUENTE.:</label>
													<div class="col-sm-8">
														<select name="select_retencion_fuente" id="select_retencion_fuente" class="select2" data-placeholder="Retención Fuente...">															
														</select>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="calculo_fuente">VALOR RETENIDO.:</label>
													<div class="col-sm-6">
														<input type="text" name="calculo_fuente" id="calculo_fuente" class="form-control" value="0.00" />
													</div>
												</div>
											</div>

											<div class="col-sm-2"></div>

											<div class="col-sm-4">
												<h3 class="header smaller lighter blue">RETENCIÓN DEL IVA</h3>
												<div class="control-group">
													<div class="radio">
														<label>
															<input name="retencion_iva" id="iva_no" value="NO" type="radio" class="ace" checked />
															<span class="lbl"> NO</span>
														</label>
													</div>

													<div class="radio">
														<label>
															<input name="retencion_iva" id="iva_si" value="SI" type="radio" class="ace" />
															<span class="lbl"> SI</span>
														</label>
													</div>
												</div>
												&nbsp;

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="select_retencion_iva">RETENCIÓN IVA.:</label>
													<div class="col-sm-8">
														<select name="select_retencion_iva" id="select_retencion_iva" class="select2" data-placeholder="Retención Iva...">															
														</select>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="calculo_iva">VALOR RETENIDO.:</label>
													<div class="col-sm-6">
														<input type="text" name="calculo_iva" id="calculo_iva" class="form-control" value="0.00" />
													</div>
												</div>	
											</div>
										</div>
									</div>			
								</div>
							</div>
						</div>

						<div class="clearfix form-actions center">
							<div class="col-md-12">
								<button type="button" name="btn_0" id="btn_0" class="btn btn-primary" data-toggle='tooltip' title='Registrar Factura'>
									<i class="ace-icon fa fa-save bigger-110"></i>
									Guardar
								</button>

								<button type="button" name="btn_1" id="btn_1" class="btn btn-primary" data-toggle='tooltip' title='Modificar Factura'>
									<i class="ace-icon fa fa-edit bigger-110"></i>
									Modificar
								</button>

								<button type="button" class="btn btn-primary" data-toggle="modal" href="#myModal">
									<i class="ace-icon fa fa-search bigger-110"></i>
									Facturas Compra
								</button>

								<!-- <button type="button" class="btn btn-primary" name="btn_2" id="btn_2" data-toggle='tooltip' title='Anular Factura'>
									<i class="ace-icon fa fa-close bigger-110"></i>
									Anular
								</button> -->

								<button type="button" name="btn_3" id="btn_3" class="btn btn-primary" data-toggle='tooltip' title='Imprimir Factura'>
									<i class="ace-icon fa fa-print bigger-110"></i>
									Imprimir
								</button>

								<button type="button" name="btn_4" id="btn_4" class="btn btn-primary" data-toggle='tooltip' title='Limpiar'>
									<i class="ace-icon fa fa-refresh bigger-110"></i>
									Actualizar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
	    <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		        <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title">BUSCAR FACTURAS COMPRA</h4>
		        </div>

		        <div class="modal-body">
		            <table id="table2"></table>
					<div id="pager2"></div>
		        </div>

		        <div class="modal-footer">
		          	<button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle='tooltip' title='Cerra Ventana'>Cerrar</button>
		        </div>
		    </div>
	    </div>
	</div>
</div>	


